

<div class="submitMyContent">
	<div class="createLeft">
		<p>Submit an Idea.</p>
		<p>Find your help.</p>
		<p>change the world.</p>
		<div class="profile_globe">
		<img src="media/globe2.png" alt="">
	</div>
	</div>
	
	<div class="createRight">
		<div class="createDesc"><u>Select your category</u></div>
		<div class="create_option">
			<div class="create_web" ng-click = 'typeValue("web")' ng-class = "{optionSelected: selectedWeb}">WEB</div>
			
			<div class="create_mobile" ng-click = 'typeValue("mobile")'ng-class = "{optionSelected : selectedMobile}">MOBILE</div>
		</div>
		<div class="createDesc"><u>type?</u></div>
		<div class="create_subOption">
			<div ng-click = 'typeSubOption("personal")' ng-class = "{optionSelected: selectedpers}" class="subOption">PERSONAL</div>
			<div ng-click = 'typeSubOption("professional")' ng-class = "{optionSelected: selectedprof}"class="subOption">PROFESSIONAL</div>
			<div ng-click = 'typeSubOption("freelance")' ng-class = "{optionSelected: selectedfree}" class="subOption">FREELANCE</div>
		</div>

		<div class = "inputWrapper">
			<input ng-model="project.name" type="text" class="create_projectName" placeholder="title...">
		</div>
		<div class="createDesc"><u>Give us a short description to inspire people</u></div>
		<div class="inputWrapper">
			<textarea ng-model="project.description" class = "create_textarea"></textarea>
		</div>





<button ng-click="createProject(project)">submit</button>

</div>