<!--<input type="text" ng-model="name" placeholder = "title">

<select ng-model="type">
	<option value="web" >web</option>
	<option value="mobile">mobile</option>
</select>

<input type="text" ng-model="description"placeholder="description">
<button ng-click="createProject(name, description, type)">submit</button>-->

<div class="submitMyContent">
	<div class="createLeft">
		<p>Submit an Idea</p>
		<p>Find your help.</p>
		<p>change the world.</p>
		<div class="profile_globe">
		<img src="media/globe2.png" alt="">
	</div>
	</div>
	
	<div class="createRight"></div>
</div>