<header>
	<nav>
		<a ng-click=""><div class="navTab webTab">WEB</div></a>
		<a ng-click=""><div class = "navTab mobileTab">MOBILE</div></a>
	</nav>
<div class="profileDirective">
	<a ui-sref="profile" class="username">Username</a>&nbsp&nbsp <!-- html spaces(will change once auth is set)-->
	<a ui-sref="profile.login-register" class="username">login/register</a>
</div>
</header>
<div class="mainBody">
	<div class="mainASide">
asdf
	</div>
	<div class="mainProjectView">
		<ui-view></ui-view>
	</div>
</div>
