<div class="log_RegPage">

        <div class="loginContainer">
                <h2 class ='register'>Login</h2>
            <div class = 'log_Reg'><input  id = 'log-email' type="email" value="" ng-model="email" placeholder = 'email'></div>
            <div class = 'log_Reg'><input  id = 'log-password' type="password" value="" ng-model="password" placeholder = 'password'></div>
            <input class="log_RegButton" type="button" value="Login" ng-click="login(email, password)">

        </div>
        <div class="registerContainer">
          <h2 class="register">Register</h2>
              <div class="registerContainerWithButton">

                <div class="registerContentContainer">
                    <div class="log_RegfirstColumn">
                        <div class="log_Reg" id = 'first-name'><input type="text" tabindex='1' value="" ng-model="user.firstname" placeholder = 'First Name'></div>
                        <div class="log_Reg" id = 'username'> <input type="text" tabindex='3' value="" ng-model="user.username" placeholder = 'Username'>{{}}</div>
                        <div class="log_Reg" id = 'password'><input type="password" tabindex='5' value="" ng-model="user.password" placeholder = 'Password'></div>
                    </div>
                    <div class="log_RegsecondColumn">
                        <div class="log_Reg" id = 'last-name'><input type="text" tabindex='2' value="" ng-model="user.lastname" placeholder = 'Last Name'> </div>
                        <div class="log_Reg" id = 'email'><input type="email" tabindex='4' value="" ng-model="user.email" placeholder = 'email'></div>
                        <div class="log_Reg" id = 'verify-password'><input type="password" tabindex='6'value="" ng-model="user.verifyPassword" placeholder = 'Verify password'></div>
                    </div>
                </div>
                    <div class="log_RegsubmitButton">
                        <button class="log_RegButton" tabindex='7' ng-click="createNewUser(user)">Register</button>
                    </div>
              </div>

        </div>
</div>

<!--<div class = 'log_RegPage'>
        <div class = 'registerContainer'>
                <div class = 'regFirstColumn'>
                        <h2 class = 'registerText'>Register</h2>
                        <div class = 'log_Reg'><input id = 'regFirstName' type = 'text' tabindex = '1' value = '' ng-model = 'user.firstname' placeholder = 'first name'></div>
                        <div class = 'log_Reg'><input id = 'regUsername' type = 'text' tabindex= "3" value = '' ng-model = 'user.username' placeholder = 'username'></div>
                        <div class = 'log_Reg'><input id = 'regPassword' type = 'password' tabindex="5" value = '' ng-model = 'user.password' placeholder = 'password'></div>
                </div>
                <div class = 'regSecondColumn'>
                        <div class = 'log_Reg'><input id = 'regLastName' type = 'text' tabindex="2" value ='' ng-model = 'user.lastname' placeholder= 'last name'></div>
                        <div class = 'log_Reg'><input id = 'regEmail' type = 'email' tabindex = "4" value = '' ng-model = 'user.email' placeholder= 'email'></div>
                        <div class = 'log_Reg'><input id = 'regVerifyPw' type = 'password' tabindex = "6" value = '' ng-model = 'user.verifyPassword' placeholder= 'verify password'></div>
                </div>
             
                <div class = 'regSubmitContain'>
                        <button class = 'log_RegButton' tabindex="7" ng-click = 'createNewUser(user)'>Register</button>
                </div>
                
        </div>
        
        <div class = 'loginContainer'>
                <div class = 'logColumn'>
                        <h2 class = 'loginText'>Login</h2>                       
                        <div class = 'log_Reg'><input id = 'logEmail' type = 'email'  value = '' ng-model = 'email' placeholder = 'email'></div>
                        <div class = 'log_Reg'><input id = 'logPassword' type = 'password'  value = '' ng-model = 'password' placeholder="password"></div>
             
                </div>
        </div>
</div>-->