<div class="filter">
    Search: <input type="text" ng-model="projectFilter"/>
</div></br>

<div class="home_room_project" ng-model="mobileProjects" ng-repeat="mobileProject in mobileProjects | filter: projectFilter | orderBy: 'createdAt'">
    <h2><span></span>{{mobileProject.name}}</h2>
    <h4><span>Description: </span>{{mobileProject.description}}</h4>
    <div class="home_room_info">
        <h4><span>Created At: </span>{{mobileProject.createdAt | date:'short'}}</h4>
        <h4><span>By: </span>{{mobileProject.admins[0].basicInfo.firstName}}
        {{mobileProject.admins[0].basicInfo.lastName}}</h4>
    </div>
    <!--<h4><span>Type: </span>{{mobileProject.type}}</h4>-->
    <button class="apply" ng-click="apply">Apply</button>
</div>