<div class="messages_wrap">
	<div class="messages_wrap_content">
		<button class="findUser" ng-click="searchValue = true" ui-sref="profile.messages.newmessage">New Message</button>
		<div class="prof_mess_aside" ui-sref="profile.messages.current">
			<div ng-click="getMessageswithUser($index); selectedNameCheck($index); getCurrentIndex($index)" class="prof_aside_messages" ng-repeat="user in userMessages">
				<span class="message_name" ng-class="{'message_name_current': $index == selectedName}">{{user.withUser}} {{user.withUserLast}}</span>
				<br>
			</div>
		</div>
		<div class="prof_mess_body">
			<ui-view></ui-view>
		</div>
	</div>
</div>