<a ui-sref = "devvit.groups"><u> < back to groups</u></a>
<div class="theGroupDisplay">
	<div class="theGroupHeader">{{group.name}} admin</div>
	<div class="adminAccept">
			<div class="appliedUserCard" ng-repeat="applied in pendingApp track by $index">
				<div class="appliedUserCard_upper">
					<div ng-click = "acceptUser(applied)" class="appliedAccept"><i class="fa fa-check-circle"></i></div>
					<div ng-click = "denyUser(applied)"class="appliedDeny"><i class="fa fa-times-circle"></i></div>
				</div>
				<div class="appliedUserCard_lower">
					{{applied.member.basicInfo.firstName}}
					{{applied.member.basicInfo.lastName}}					
				</div>
				
				

			</div>
		</div>
	<div class="theGroupBody">
		
		<div class="theGroupInfo">
			<div class="groupInfoTop">
				
				<div class="groupInfo">
					<div class="group_titles">Group Info</div>
					<div class="groupType">[{{group.type}}]</div>
					<div class="groupSubType">Type: {{group.subType}}</div>
					<div class="groupCreatedAt">Date Created: {{group.createdAt | date:"MMMM d, y"}}</div>
					<div class="groupCreatedBy">By: {{group.createdBy}}</div>
				</div>
				<div class="groupDescription">
					<div class="group_titles">Description <span ng-click="toggleView()" id="groupEditDesc"><i class="fa fa-pencil-square-o"></i></span></div>
					<div class="groupDescriptionText" ng-show="!save">{{group.description}}</div>
					<span ng-show='save'>Description:<br><textarea ng-model="group.description" class='edit-desc1' ng-model='groups.description'></textarea>
				</div>
				<div class="groupLast"></div>
			</div>
			<div class="groupInfoMessage">
				<div class="groupInfoMessageDiv" ng-repeat = "message in groupMessages track by $index">
					<div class="groupInfoMessageUser">
						{{message.sentBy.basicInfo.firstName}}
						{{message.sentBy.basicInfo.lastName}}
					</div>
					<div class="groupInfoMessagemess">{{message.message}}</div>	
				</div>
				<div class="groupSendMessage">
					<textarea id="groupMessageInput" cols="30" rows="3" ng-model="groupmessagecontent"></textarea>
					<button id="sendGroupMsg" ng-click="sendGroupMessage(groupmessagecontent)">send</button>
				</div>
			</div>
		</div>
		
		<div class="theGroupMembers">
			<div class="membersAdmins">
				<div class="group_titles">Admins</div>
				<div class="groupAdminsRepeat"ng-repeat = "admin in group.admins">
				<div class="groupAdminUser">{{admin.basicInfo.firstName}} {{admin.basicInfo.lastName}}
				</div>
					
				</div>
			</div>
			<div class="membersMembers">
				<div class="group_titles">Members</div>
				<div class="groupMembersRepeat"ng-repeat = "member in group.members">
					<div class="groupMemberUser">{{member.member.basicInfo.firstName}} 
						{{member.member.basicInfo.lastName}}
						<div id="groupMemberRemove" ng-click = 'removeUser(member.member)'><i class="fa fa-times"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>