<div class="theGroupHeader"><a ui-sref = "devvit.groups"><u><i class="fa fa-long-arrow-left"></i> Back to Groups</u></a></div>
<div class="theGroupDisplay">
	<div class="theGroupBody">
		
		<div class="theGroupInfo">
			<div class="groupInfoTop">
				<div class="groupInfo">
					<div class="group_titles">Group Info</div>
					<div class="group_name">Name: {{group.name}}</div>
					<div class="groupType">[{{group.type}}]</div>
					<div class="groupSubType">Type: {{group.subType}}</div>
					<div class="groupCreatedAt">Date Created: {{group.createdAt | date:"MMMM d, y"}}</div>
					<div class="groupCreatedBy">By: {{group.createdBy}}</div>
				</div>
				<div class="groupDescription">
					<div class="group_titles">Description</div>
					<div class="groupDescriptionText">{{group.description}}</div>
				</div>
			</div>
			
			<div class="groupInfoMessage">
				<div>
					<div class="groupInfoMessageDiv" ng-repeat = "message in groupMessages track by $index">
						<div class="groupInfoMessageUser">
							{{message.sentBy.basicInfo.firstName}}
							{{message.sentBy.basicInfo.lastName}}
						</div>
						<div class="groupInfoMessagemess">{{message.message}}</div>	
					</div>
				</div>
				<div class="groupSendMessage">
					<textarea id="groupMessageInput" cols="30" rows="3" ng-model="groupmessagecontent"></textarea>
					<button id="sendGroupMsg" ng-click="sendGroupMessage(groupmessagecontent)">send</button>
				</div>
			</div>	
		</div>
		
		<div class="theGroupMembers">
			<div class="membersAdmins">
				<div class="group_titles">Admins</div>
				<div class="groupAdminsRepeat"ng-repeat = "admin in group.admins">
				<div class="groupAdminUser">{{admin.basicInfo.firstName}} {{admin.basicInfo.lastName}}
				</div>
					
				</div>
			</div>
			
			<div class="membersMembers">
				<div class="group_titles">Members</div>
				<div class="groupMembersRepeat"ng-repeat = "member in group.members">
					<div class="groupMemberUser">{{member.member.basicInfo.firstName}} 
						{{member.member.basicInfo.lastName}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>