<div class = 'cont'>
	<div class = 'message-contain' ng-show = 'noActive'>
		<span class = 'noactive'>{{activePosts.message}}</span>
	</div>
	<div class = 'active-container' ng-show = '!noActive' ng-repeat = 'groups in activePosts'>
		<div class = 'profile_active-panel panel {{groups.subType}}'>
			
			<div class = 'profile_active-flex-contain'>
				<span class = 'profile_title active-title' ng-show = '!save'>{{groups.name}}</span>
				<span ng-show = 'save'>Title:<input id="activeEditTitle" type = 'text' ng-model = 'groups.name'></span>
				<span class = 'profile_date active-date'>Created on: {{groups.createdAt | date:' MMM dd'}}</span>
				<div class = 'profile_btn-contain'>
					<button class="profile_btn editbtn" type="button" ng-show = '!save' ng-click='toggleView(this)'>Edit Post</button>
					<button class="profile_btn savebtn" type="button" ng-show = 'save' ng-click="toggleView(this); updatePosts(groups)">Save</button>
					<button class="profile_btn deletebtn" ng-click = 'removeProject(groups._id)' type="button">Delete</button>
				</div>
			</div>
			
			<div class="panel_tags active_tags_wrap">
				<div class="activeTags panel_tag_active" ng-repeat="tag in groups.tags | limitTo:5">{{tag}}</div>
			</div>
			<div class="activeAddTag" ng-show="save">
				<div ng-click="toggleAddTag()">Add&nbsp<i class="fa fa-plus"></i></div>
				<form ng-show="!addTag" ng-submit="addToNewTag($index, newTag); newTag = ''">
				<input ng-model="newTag" type="text" ng-show="!addTag">
				</form>
			</div>
			
			<div class = 'contain2'>
				<p class = 'profile_description active-description' dd-text-collapse dd-text-collapse-max-length="110" dd-text-collapse-text="{{groups.description}}" ng-show = '!save'></p>
				<span ng-show = 'save' >Description:<br><textarea class = 'edit-desc' ng-model = 'groups.description'></textarea>
			</div>
			
			<div class = 'contain3'>
				<span class = 'activeType'>[{{groups.type}}]</span>
			</div>
			
		</div>
	</div>
</div>