<div class="profile_body">
	<div class="profile_body_left">
		<div class="profile_picture"></div>
		<div class="profile_basicInfo">
			<div class="profile_name">{{profile.basicInfo.firstName}}&nbsp{{profile.basicInfo.lastName}} <div class="profile_userName">{{profile.basicInfo.userName}}</div></div>
			<div class="profile_messages"> 0 <i class="fa fa-envelope"></i></div>
			<div class="" ng-show="!editShow">
				<div class="profile_email">{{profile.basicInfo.email}} <span class="editSquare" ></div>
				<div class="profile_linkedin">{{profile.basicInfo.linkedin}}<span class="editSquare" ></div>
				<div class="profile_github">{{profile.basicInfo.github}}<span class="editSquare" ></div>
			</div>
			<div class="basicInfo_edit" ng-show="editShow">
				<input class="profile_email" ng-model="profile.basicInfo.email" placeholder="(email)">
				<input class="profile_linkedin" ng-model="profile.basicInfo.linkedin" placeholder="(linkedin)">
				<input class="profile_github" ng-model="profile.basicInfo.github" placeholder="(github)">
				<input class="profile_github" ng-model="profile.basicInfo.website" placeholder="(website)">
				
			</div>
			<div class="profile_update" ><a  ng-show = "!editShow" ng-click = "editShow = !editShow">edit/update</a><a ng-click = "editShow = !editShow; updateUser()"ng-show="editShow" class = "submitChanges">submit Changes</a></div>
			
		</div>
	</div>
	
	<div class="profile_body_right" ng-show = "!editShow">
		<div class="profile_userProjects">
			<div class="profile_pending">
				PENDING 
				<div class="profile_pendingReq" ng-repeat="pending in profile.pendingApprovals">
					<span><i class="fa fa-times"></i></span>{{pending.name}} <span>creator</span>
				</div>
			</div>
			<div class="profile_SkillCont">
				<div class="profile_skills_title">SKILLS </div>
				<div class="profile_skills">
					<div ng-repeat="skill in profile.skills" class="eachSkill"><span><i class="fa fa-times"></i></span>&nbsp{{skill}}</div>
					</div>
			</div>
		</div>
		<div class="profile_otherUserInfo">
			<div class="profile_bio">
				BIO 
				<div class="profile_bio_bio">
					{{profile.bio}}
				</div>
			</div>
			<div class="profile_right_location">
				LOCATION
			</div>
		</div>
	</div>
	
		<div class="profile_body_right" ng-show = "editShow">
		<div class="profile_userProjects">
			<div class="profile_pending">
				PENDING
				<div class="profile_pendingReq" ng-repeat="pending in profile.pendingApprovals">
					{{pending.name}}
				</div>
			</div>
			<div class="profile_SkillCont">
				<form ng-submit="addToNewSkills(addedSkill)">
					<input type="text" class="profile_addSkill" ng-model="addedSkill"placeholder="add new skills">
				</form>
				<div class="profile_skills">
					<div ng-repeat="skill in updated.skills" class="eachEditSkill" ng-click = "removeSkill(skill)">[{{skill}}]</div>
					</div>
			</div>
		</div>
		<div class="profile_otherUserInfo">
			<div class="profile_bio">
				BIO <span class="editSquare" ng-show = "showEdit"><i class="fa fa-pencil-square-o fa-2x"></i></span>
				<br>
				<textarea ng-model="profile.bio">
					
				</textarea>
			</div>
			<div class="profile_right_location">
				LOCATION
			</div>
		</div>
	</div>
</div>