<div class="messages_wrap">
	<div class="messages_wrap_content">
		<button class="findUser" ng-click="searchValue = true" ui-sref="profile.messages.newmessage">New Message</button>
		<!--<button class="findUser" ng-click="searchValue = true">New Message</button>-->
		<div class="prof_mess_aside">
			
			<div ng-click="getMessageswithUser($index); selectedNameCheck($index); getCurrentIndex($index)" class="prof_aside_messages" ng-repeat="user in userMessages">
				<div ng-click="newLocation(user._id)">
					<span class="message_name" ng-class="{'message_name_current': $index == selectedName}">{{user.basicInfo.firstName}} {{user.basicInfo.lastName}}</span>
					<br>
				</div>
			</div>
			
		</div>
		<div class="prof_mess_body">
			<ui-view></ui-view>
		</div>
	</div>
</div>