
<div class="projects_nav">
	<ul class = "projects_nav_list">
		<li ng-click ="findAll()">ALL</li>
		<li ng-click = "searchProjects('web')" >WEB</li>
		<li ng-click = "searchProjects('mobile')" >MOBILE</li>
		<li ng-click = "searchProjects('software')">SOFTWARE</li>
		<li ng-click = "searchProjects('javascript')">JAVASCRIPT</li>
		<li ng-click = "searchProjects('robotics')">ROBOTICS</li>
		<LI ng-click = "searchProjects('angular')">ANGULAR</LI>
	</ul>
</div>

<div class = 'cont_home'>
	<div class="cont_left">
		<form ng-submit = "searchProjects(searchQuery, distance)">
		<input ng-model="searchQuery" type="text" class="searchType" placeholder="Seach projects...">
		</form>
		<div class="sortBySubType">
			I want to see...
			<div class="sortSubTypeType">
				<div ng-click = 'subTypeFilter = "freelance"' class="sortSub sortSubFree">FREELANCE</div>
				<div ng-click = 'subTypeFilter = "personal"' class="sortSub sortSubPers">PERSONAL</div>
				<div ng-click = 'subTypeFilter = "professional"'class="sortSub sortSubProf">PROFESSIONAL</div>
				<div ng-click = 'subTypeFilter ="" 'class="sortSub sortSubProf">ALL</div>
				
			</div>
		</div>
		<div class="sortByDistance">
			Within a...
			<form >
				<input type="text" class="searchDistance"  ng-model="distance" placeholder="10...">Mile radius</input>
			</form>
		</div>
		<div class="sortByOption">
			sort by:<select class = "sortBySelect" ng-model = "sortByOption" >
				<option value="members">least applied</option>
				<option value="-members">most applied</option>
			</select>
		</div>
	</div>
	<div class="cont_right">
		<div class="panel_wrapper"ng-repeat = 'webProject in webProjects | reverse | filter:{ subType: subTypeFilter}| orderBy: sortByOption track by $index'>
			<div class="outPanel"> 
				<div class="arrow-right "></div>
				<div class="outPanel_left">
				</div>
				<div class="outPanel_right">
					<div class="panelNumber">{{$index +1}}.</div>

					<div class="outPanelType" ng-click = "searchProjects(webProject.type)">[{{webProject.type}}]</div>
					<div class="outPanelBy"><i class="fa fa-user"></i>  <a ng-click="goToUser(webProject.createdBy._id)" >{{webProject.createdBy.basicInfo.firstName}} {{webProject.createdBy.basicInfo.lastName}}</a></div>
					<div class="panel_location" ng-show="webProject.createdBy.basicInfo.location.city"><i class="fa fa-map-marker fa-1x"></i>&nbsp;{{webProject.createdBy.basicInfo.location.city}}, {{webProject.createdBy.basicInfo.location.state}}</div>
				</div>	
			</div>
			<div class="projectPanel">
				<div class="panel_subTypeSquare {{webProject.subType}} ">
					<div class="panel_applicants">
						{{webProject.members.length}}&nbsp;<i class="fa fa-user-plus"></i>
					</div>
					{{webProject.subType}}
				</div>
				<div class="panel_mainContent {{webProject.subType}}">
					<div class="panel_mainContent_left">
							<div class="panel_MC_left_upper">{{webProject.name}}</div>
							<div class="panel_MC_left_lower">
								<div class="panel_tags">
									<div class="panel_tag" ng-repeat="tag in webProject.tags |limitTo:5"  ng-click="searchProjects(tag)">{{tag |limitTo:9}}</div>
								</div>
								<div class="panel_createdBy">{{webProject.description | limitTo: 43}}{{webProject.description.length > 43 ? '...' : ''}}</div>
								<!--<div class="panel_createdOn"><i class="fa fa-calendar-o"></i> {{webProject.createdAt | date:' MMM dd'}}</div>-->
							</div>
						</div>
					<div class="panel_mainContent_right">
						<!--<div class="panel_location"><i class="fa fa-map-marker fa-1x"></i></div>-->
						
						<apply-modal class = "panel_modal_button"width='700px' height='60%'>
								<div class = 'panel-flex-contain-apply'>
									<div class = 'panel_title web_title'>{{webProject.name}}</div>
									<div class = 'panel_creator web_creator'>Created By: {{webProject.admins[0].basicInfo.firstName}} {{webProject.admins[0].basicInfo.lastName}}</div>
									<div class = 'panel_date web_date'>{{webProject.createdAt | date: 'MMM dd'}}</div>
								</div>
							<hr>
							<div class = 'message-apply-contain'>
								<textarea ng-model ="message"class = 'apply-message' placeholder = 'Send {{webProject.admins[0].basicInfo.firstName}} a message letting them know why you would be a good fit for their project.'></textarea>
							</div>
							<div class ='submit-contain'>
								<button class="panel_btn submit" ng-click="apply(webProject._id, message); toggleModal()" >Submit</button>
							</div>
						
					</apply-modal>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

