<!--<div class="filter">
    Search: <input type="text" ng-model="projectFilter"/>
</div></br>

<div class="home_room_project" ng-model="webProjects" ng-repeat="webProject in webProjects | filter: projectFilter | orderBy: 'createdAt'">
    <h2><span></span>{{webProject.name}}</h2>
    <h4><span>Description: </span>{{webProject.description}}</h4>
    
    <div class="home_room_info">
        <h4><span>Created At: </span>{{webProject.createdAt | date:'short'}}</h4>
        <h4><span>By: </span>{{webProject.admins[0].basicInfo.firstName}}
        {{webProject.admins[0].basicInfo.lastName}}</h4>
    </div>

    <button class="apply" ng-click="submit = !submit">Apply</button>
    <input class="applyMessage" type="text" value="Message Here" ng-model="submittedMessage" ng-show="submit"></input>
    <button class="apply" ng-click="apply(webProject._id, submittedMessage)" ng-show="submit">Submit</button>
</div>-->

<div class = 'cont'>
	<div class = 'panel-container' ng-repeat = 'webProject in webProjects track by $index'>
		<div class = 'panel web_panel'>
			<div class = 'panel-flex-contain'>
				<span class = 'panel_title web-title'>{{webProject.name}}</span>
				<span class = 'panel_creator web_creator'>Created By: {{webProject.admins[0].basicInfo.firstName}} {{webProject.admins[0].basicInfo.lastName}}</span>
				<span class = 'panel_date web_date'>Created On: {{webProject.createdAt | date:' MMM dd'}}</span>
				<div class = 'panel_btn-contain'>
					<apply-modal width='600px' height='500px'>
      					<div class = 'panel-flex-contain-apply'>
							<span class = 'panel_title web_title'>{{webProject.name}}</span>
							<span class = 'panel_creator web_creator'>Created By: {{webProject.createdBy.basicInfo.firstName}} {{webProject.createdBy.basicInfo.lastName}}</span>
							<span class = 'panel_date web_date'>{{webProject.createdAt | date: 'MMM dd'}}</span>
						</div>
					<hr>
					<div class = 'message-apply-contain'>
						<textarea class = 'apply-message' ng-model = 'submittedMessage' placeholder = 'Send {{webProject.admins[0].basicInfo.firstName}} a message letting them know why you would be a good fit for their project.'></textarea>
					</div>
					<div class ='submit-contain'>
						<button class="panel_btn submit" ng-click="apply(webProject._id, submittedMessage)" >Submit</button>
					</div>
				  
    		</apply-modal>
					
				</div>
			</div>
			<div class = 'panel-desc-contain'>
				<p class = 'panel_desc' dd-text-collapse dd-text-collapse-max-length="110" dd-text-collapse-text="{{webProject.description}}">
			</div>
			<div class = 'contain-members'>
				<span class = 'members'>{{webProjects[$index].members.length}} Applied</span>
			</div>
		</div>
			
	</div>
</div>

