.submitMyContent{
	width:1200px;
	background: white;
	display:flex;
	margin:0 auto;
	margin-top:50px;
	
	
}
.createLeft{
	display:flex;
	height:600px;
	border-right: 1px solid #D2D6D5;
	flex:.7;
	font-family: 'Intro';
    color: #093561;
	background: #9bd0c6;
    font-size: 2em;
	line-height:60px;

	flex-direction: column;
	
	align-items: center;
}
.createRight{
	flex:1;
	text-align: center;
}

.create_option {
	display:flex;
	flex-direction: row;
	font-family: 'Intro';
	justify-content: center;
	color: #9BD0C6;
}

.create_web, .create_mobile {
	margin:10px 20px;
	font-size: 3em;
	cursor:pointer; 
}

.optionSelected {
	color: #FF9326
}

.create_subOption {	
	display:flex;
	flex-direction: row;
	font-family: 'Intro';
	justify-content: center;
	color: #9BD0C6;

}
.subOption{
	font-size:1.5em;
	margin:10px 15px;
	cursor:pointer;
}

.create_projectName {
	width:40%;
	border:none;
	border-bottom:2px solid #FF9326;
	height:30px;
	font-size: 1.5em;
}
.inputWrapper{
	text-align:center;
}

.create_textarea{
	margin-top: 10px;
	width:60%;
	height:200px;
	border: 2px solid lightgray;
}

/*.create_web {
	border:2px solid #093561;

}*/
.createDesc {

	display: inline-block;
	color: #093561;
	
	text-align: center;
	font-family: "intro";
	margin-top:50px;
}