.register {
  text-align: center;
padding: 20px;
text-decoration: underline;
font-size: 21px;
text-underline-color: black;

}

.log_RegPage{
  display: flex;
  justify-content: space-around;
}
.loginContainer{
	display: flex;
	flex-direction: column;
}

.registerContainer {
width: 500px;
height: 100%;
display: flex;
justify-content: space-between;
}

.registerContainerWithButton{}

.registerContentContainer{
	display: flex;
	margin: 15px;
	height: 80%;
}

.log_Reg input {
	border:none;
	border-bottom:2px solid #FF9326;
	height:30px;
	font-size: 1.5em;
	width:200px;
	background: #E1E3E4;
}

.log_RegfirstColumn{
	margin: 0 auto;
align-self: center;}

#first-mame{
	margin-left: 39px;
	}

#username{
	margin: 20px 0px;

}

.log_RegsecondColumn{
	
}


#email{
	margin: 20px 0px;
}

#verify-password{

}

.log_RegsubmitButton{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.log_RegButton{
	border:none;
	background:#FF9326;
	font-family:'intro';
	margin:5px 0;
	width: 100px;
    height: 30px;
	border-bottom: 4px solid #FF6400;
	cursor: pointer;
}

/*.log_RegPage {
	display: flex;
	justify-content: space-around;
}

.log_Reg input {
	border:none;
	border-bottom:2px solid #FF9326;
	height:30px;
	font-size: 1.5em;
	width:200px;
	background: #E1E3E4;
}

.registerContainer {
	display: flex;
	justify-content: space-between;
}

.regFirstColumn {
	display: flex;
	flex-direction: column;
}

.regSecondColumn {
	display: flex;
	flex-direction: column;
}

.regSubmitContain {
	display: flex;
	flex-direction: column;
}*/