.prof_mess_aside {
	float:left;
	width:20%;
	height:100vh;
	background: #ECE9E9;
}
.prof_aside_messages{
	width:100%;
	height:40px;
	border-bottom:1px solid gray;
	cursor: pointer;
}
.prof_mess_body{
	float:left;
	width:80%;
}