.navTab{
	display:flex;
	width:150px;
	height:30px;
	background:#0e455c;
	color:white;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin:0 3px;
}

.activeNavTab{
	background: #149290;
	color:white;
}