.navTab{
	display:flex;
	width:150px;
	height:30px;
	background:#0e455c;
	color:white;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin:0 3px;
}

.activeNavTab{
	background: #149290;
	color:white;
}

.one{
    margin-left:20px;
    margin-bottom:10px;
    margin-top: 10px;
    border: 2px solid gray;
    padding-left:30px;
    padding-bottom:10px;
    padding-top:10px;
    border-width: thin;
    
}
.filter{
    margin-top:20px;
}
.apply {
    background-color: black;
    color:white;
    margin-left:750px;
    margin-bottom: 30px;
}

