@font-face {
    font-family: 'Intro';
    src:url('fonts/Intro.ttf.woff') format('woff'),
        url('fonts/Intro.ttf.svg#Intro') format('svg'),
        url('fonts/Intro.ttf.eot');
        /*url('fonts/Intro.ttf.eot?#iefix') format('embedded-opentype'); */
    font-weight: 100;
    font-style: normal;
}
.MergeLight-Regular { 
	font-family: MergeLight-Regular;
	font-weight: normal;
	font-style: normal;
}


/*******************
 WEB VIEW
 ******************/
 
/*** TEMP BACKGROUND COLOR ***/

body {
	background: #e1e3e4;
}
 
/*.home_room_project{
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #b2b2b2;
    margin-top: 20px;
    padding-top: 35px;
}

.filter{
    margin-top:20px;
    margin-left: 2%;
}
.apply {
    background-color: #2d2d2d;
    color:white;
    margin-left:70%;
    margin-bottom: 15px;
}

.home_room_project h2 {
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 20px;
}

.home_room_project h4 {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.home_room_info {
	width: 80%;
	margin-top: 10px;
}

.home_room_info h4 {
	display: inline-block;
	margin-right: 200px;
}

.applyMessage {
	margin-left: 70%;
	width: 20%;
	margin-bottom: 20px;

}*/
.panel {
	min-height: 120px;
	height: 100%;
	background: #fff;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.19);
	border-radius: 2px;
	/*border: 1px solid #0e455c;*/
	margin: 20px auto 0 auto;
	word-wrap: break-word;
	
	font-family: 'Dosis', sans-serif;
}


.panel_title {
	font-size: 30px;
	color: #0e455c;
	padding-left: 10px;
}

.panel_description {
	word-wrap: break-word;
	font-family:dosis;
	padding-left: 10px;
}

.panel_btn  {
	height: 20px;
	width: 100px;
	border: none;
	font-size: 12px;
	background: #0E455C;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	
}

.panel_date {
	-webkit-font-smoothing: antialiased;
	padding-top: 13px;	
}

.panel_creator {
	padding-top: 13px;
}

.panel_btn.deletebtn {
	background: #e84d3d;
}

.panel_btn-contain {
	padding-right: 10px;
	height: 100%;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-top: 13px;
	
}
fieldset {
	border: 1px solid;
}


.contain-members {
	display: flex;
	height: 40px;
	padding-left: 10px;
	
}

.members {
	align-self: flex-end;
	padding-bottom: 2px;
}

.panel-flex-contain {
	display: flex;
	justify-content: space-between;
}

.panel-desc-contain {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.ng-modal-overlay {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
}

.ng-modal-dialog {
	z-index: 10000;
	position: absolute;
	width: 50%;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background: #fff;
	box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
	padding: 10px;
	text-align: left;
}

.ng-modal-close {
	position: absolute;
	top: 3px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 120%;
	display: inline-block;
	font-weight: bold;
	font-family: 'Dosis', sans-serif;
}

.panel-flex-contain-apply {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.send-message-apply-contain {
	display: flex;
	padding-top: 20px;
	padding-left: 10px;
}

.message-apply-contain {
	display: flex;
	padding-top: 10px;
	padding-left: 10px;
}

textarea {
    resize: none;
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
	border-radius: 2px;
}

.apply-message {
	width: 500px;
	height: 180px;
}

.submit-contain {
	display: flex;
	width: 518px;
	justify-content: flex-end;
	padding-top: 5px;
}


.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

footer{
	height:400px;
	width:100%;
	background: #181818
}

